/*
CSS syntax
selector {
	propertyA:  valueA;
	propertyB:  valueB;
}



*-universal selector, it selects all elements in the webpage; it is the least prioritize selector

font-family = "Courier New", monospace;
	it sets the font to be used by the browser which is Courier New. Since the specific font is not existing in the all browsers, monospace gives the browser an option to use if Courier New is not existing. It will search its fonts that belongs to monospace

font-size - sets the font size to the specifies measurement
px - pixels



*/



*{
	font-family: "Courier-New", monospace;
	font size: 20px;

}

/*
html selector - used to select all elements inside the html tag
*/

html{
	/*
	modifies the scroll behavior when navigating through the page
	*/
	scroll-behavior: smooth;
}

/*body selector - selects all elements inside the body tag

background color - modifies the background color of the elements inside the selector

*/
body{

	background-color: skyblue;
}

nav{
background-color: white;

}

/*
child selector (>) - allows the selection of the child of the first slector
SYNTAX:  firstSelector > secondSelector

display:  inline-block; - it sets the display of the element into inline-block
inline block - makes the element inline with its siblings, but still is block outside its parent


*/

nav > div{
display: inline-block;
float: right;
}

/*tag selectors*/
h1{
	/*rem-root element measurement; html is the root element. by default, rem =16pxs
	computation:  n*rem;n=number attached before the rem

!important - override/disregards the ranking of priority and makes the property the priority value!important

	*/

/*color: red !important;*/


color: red !important;

/*
2*16=32px
*/
font-size: 2rem;
text-align: center;

}

section{

	/*height - modfifies the height of the element
	vh - measruing the viewport height. the measurement
	*/

height: 100vh;
text-align: center;

}

h2	{
	font-size: 1.5rem;

}

ol{

	/*
	list-style-type - changes the style of bullets/numbering in a list

	*/
	list-style-type: none;
}

a:hover{
background-color: #b4d6de;

}

/*
ID selectors
#idName{
	property: value;

}

*/

#zuitt-motto{
	letter-spacing: 5px;
	font-size: 30px;

}

/*
class selectors 
.className{
	property: value;
}
*/

.offered-items{
/*text-transform changes the casing of the text element*/
	text-transform: uppercase;
}


/*
attribute selector
	tag[attribute]{
	property: value;

	}

*/

input{
	border-width: 2px;
	border-style: solid;
	border-color: yellow;


}

/*
combination selectors

*/

/*adjacent sibling selector - select the siblig directly after the first selector both selector doesn't have to belong to same type (tag, id, class could also be used).
syntax: firstSelector+secondSelector;
	property: value;
*/

h3 + img{

height: 300px;
width: 300px;
border-radius: 150px;

/*border-radius - round the corner of the img element*/
}

/*descendant selector - selects the specifies element that is a descendant of the first element
	firsSelector descendant{
	property: value;

	}

*/


/**/
section li{
color: #075966;

}

/*general sibling selector - selects the sibling element that comes after the first element
	firstSelector ~ generalSibling

*/
h2~ a{
	/*text decoration changes the decoration of the text, usually lining the text
		other values could be:  overline, line-through, underline;
	*/
text-decoration: none;


}

form{

color: rgb(0, 0, 128);
text-align: center;
background-color: white;
/*shorthand for modifying the border*/
border: 2px solid black;
/*vw- the measurement of the width of the user's monitor*/
width: 25vw;

/*position - dictates the position of the element
	have the exact measurement with regards to the position of the element
	relative - makes the position of the element relative to its direction

*/
position: relative;
left: 37.25%;


}

button{
color:  white;
background-color: #CF0053;
border: 0;
border-radius: 15px;

}