html{

	scroll-behavior: smooth;
}

#external	
{
color: orange;
}

p{
font-size: 20px;
font-family: cursive;
}

h1{
	font-size: 60px;
}

#learn{
text-transform: uppercase ;

}

.languages{
	background-color: pink;

}

[class= "tools"]	{
	border: 2px solid green;

}

img + ul{

	list-style: circle;
}


section img{
height: 100px;
width: 100;
border-radius: 150px;
}

h3 ~ footer{
	position: relative;
	left: 35%;

}

ul > li{
	letter-spacing: 8px;


}
